html {
  height: 100%;
}

body {
  background: url('./image/Background.png');
  color: #FFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

.face__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 67px;
  margin: 12.5vh 0 10.5px 7.15%;
}

.face__text {
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  margin: 0 0 5.68vh 7.3%;
}

.face__level {
  padding: 0;
  margin: 0 0 10.84vh 10.56%;
  list-style: none;
}

.face__level_elemet {
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 2.34vh;
  cursor: pointer;
  position: relative;
}

.face__level_elemet:hover {
  color: #D62B2E;
}

.face__level_elemet-active::before {
  width: 18px;
  height: 18px;
  content: "";
  background-color: #D62B2E;
  position: absolute;
  top: calc(50% - 9px);
  left: -45px;
  transform: rotate(45deg);
}

.face__start {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #FFF;
  background-color: #D62B2E;
  width: 352px;
  height: 99px;
  margin: 0 0 0 7.15%;
  border-radius: 7px;
  cursor: pointer;
}

.face__card-1 {
  position: absolute;
  left: 61.67%;
  top: 51.76vh;
  transform: rotate(11.9deg);
}

.face__card-2 {
  position: absolute;
  left: 74.17%;
  top: 53.52%;
  transform: rotate(39.26deg);
}

.game {
  display: flex;
  height: 100vh;
  width: 730px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.width {
  width: 1210px;
}

.flip-card {
  background-color: transparent;
  width: 218px;
  height: 341px;
  perspective: 1000px;
  margin: 32px 24px 24px 0;
}

.flip-card:hover {
  animation: move;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes move {
  50% {
    transform: rotate(-3.08deg) translateY(-30px);
  }
  100% {
    transform: rotate(0deg) translateY(-22px);
  }
}

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.active {
  transform: rotateY(180deg);
}

.flip-card__front, .flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card__back {
  transform: rotateY(180deg);
}

.visible {
  display: none;
}
